.wrapper {
  position: relative;
  --ss-animation-timing: var(--transition);
}

.select-main {
  --border: var(--opacity-neutral-darkest-15);
  --background: var(--color-scheme-2-foreground);
  --text: var(--color-scheme-2-text);

  transition:
    border-color var(--transition),
    border-radius var(--transition),
    background-color var(--transition),
    color var(--transition);

  /* display: block; */
  /* width: 100%; */

  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 6px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  background-color: var(--background);
  color: var(--text);

  box-shadow: none !important;
  outline: none !important;

  &::placeholder {
    font-family: inherit;
    font-size: 18px;
    line-height: 1.5;
    color: var(--opacity-neutral-darkest-60);
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    --border: var(--color-coral-light);
  }

  &:user-invalid {
    --border: var(--color-red);
    --text: var(--color-red);
  }
}

.select-main--open {
  --border: var(--color-coral-light);
}

.select-placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  color: var(--opacity-neutral-darkest-60);
}

.select-content {
  --border: var(--color-coral-light);
  --background: var(--color-scheme-2-foreground);
  --text: var(--color-scheme-2-text);

  padding: 12px 8px;

  border-top: none;
  border-color: var(--border);

  background-color: var(--background);
  color: var(--text);
}

.select-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.select-option {
  --background: var(--color-scheme-2-foreground);
  --text: var(--text);

  transition:
    background-color var(--transition),
    color var(--transition) !important;

  padding: 4px 8px;
  border: none !important;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;

  background-color: var(--background) !important;
  color: var(--text) !important;

  &:hover,
  &:focus {
    --background: var(--color-coral-light);
  }
}

.select-option--highlighted {
  --background: var(--color-coral-light);
}

.select-option--selected {
  --background: var(--color-coral-light);
}

.validity {
  position: absolute;
  bottom: -20px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-red);
}
