.advantages {
  padding: 64px 0;
  background-color: var(--background);
}

.title {
  margin: 0 0 32px;
  color: var(--text-primary);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  padding: 16px;
  background-color: var(--foreground);
  border-radius: 16px;
  min-height: 225px;
}

.icon {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  color: var(--text-links);
  fill: currentColor;
}

.cardTitle {
  margin: 0 0 16px;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.description {
  margin: 0;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 64px 0;
  }

  .title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 1.2;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .card:last-child {
    grid-column: 1 / -1;
  }

  .card {
    min-height: 160px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 1.4;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .advantages {
    padding: 96px 0;
  }

  .title {
    margin-bottom: 24px;
    font-size: 52px;
    line-height: 1.2;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .card:last-child {
    grid-column: auto;
  }

  .card {
    height: 245px;
    padding: 16px;
  }
  .cardTitle {
    font-size: 26px;
    line-height: 1.4;
  }

  .description {
    font-size: 18px;
    line-height: 1.5;
  }
}
