

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.field {}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
}

.serverError {

}


