.sliderArrows {
  display: flex;
  gap: 10px;
}
.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-coral-lighter);
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  color: var(--color-scheme-2-text);

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}
.arrowButton:hover,
.arrowButton:focus {
  background-color: var(--color-neutral-lightest);
  border-color: var(--color-coral-light);
}
.arrowButton:active {
  background-color: var(--color-coral-light);
  border-color: var(--color-coral-light);
}
