.header {
  position: relative;
  background: var(--background);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 16px 20px;
}

.logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.navLink {
  white-space: nowrap;
  color: var(--text-third);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.nav {
  display: none;
}

.burger {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.burger:hover {
  background: #cc6534;
  border: 1px solid rgba(255, 255, 255, 0);
}
.burger:active {
  background: #254c24;
  border: 1px solid rgba(255, 255, 255, 0);
}
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginLink {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 4px 10px;
  width: 65px;
  height: 38px;
  background: rgba(0, 0, 0, 0.05);
  color: var(--text-third);
}
.loginLink:hover {
  background: #cc6534;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
}

.registerLink {
  padding: 4px 10px;
  width: 137px;
  height: 38px;
}
.loginLink:active {
  background: #254c24;
  color: #fff;
}

.actions > :not(.burger) {
  display: none;
}

.mobileNav {
  display: none;
}

/* .mobileNav.isOpen {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 16px 20px;
  background: var(--background);
  border-bottom: var(--border-primary);
} */

/* ------------------auth---------------- */

.userInfo {
  align-items: center;
  gap: 8px;
}
.textDesktop {
  display: none;
}

.textTablet {
  display: inline;
}
.addLocationLink {
  padding: 4px 10px;
  white-space: nowrap;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  object-fit: cover;
}
.userName {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-third);
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 29px;
  height: 0;
  rotate: 90deg;
  margin-left: -8px;
  margin-right: -8px;
}
.logoutButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logoutIcon {
  width: 24px;
  height: 24px;
  color: var(--text-third);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 16px 32px;
  }
  .actions > :not(.burger):not(.userInfo) {
    display: inline-flex;
  }
  .loginLink {
    width: 56px;
    height: 32px;
    font-size: 16px;
  }
  .registerLink {
    width: 114px;
    height: 32px;
    font-size: 16px;
  }
  .addLocationLink {
    width: 196px;
    height: 32px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 16px 64px;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    flex: 1;
  }

  .actions > .userInfo {
    display: flex;
  }
  .addLocationLink {
    width: 245px;
    height: 38px;
    font-size: 20px;
  }

  .textTablet {
    display: none;
  }

  .textDesktop {
    display: inline;
  }

  .burger {
    display: none;
  }

  .mobileNav,
  .mobileNav.isOpen {
    display: none;
  }
}
