.add_review_form {
  border-radius: 24px;
  padding: 64px 20px;
  width: 334px;
  max-width: 768px;
  background: #fff2ec;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.stars {
  display: inline-flex;
}

.star {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.star svg {
  display: block;
  fill: currentColor;
}

.textarea textarea {
  height: 180px;
}

.error {
  position: absolute;
  left: 0;
  bottom: -20px;
  margin: 0;
  font-size: 12px;
  color: #dc3545;
}

.actions {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submitButton,
.cancelButton {
  flex: 1;
}
@media (min-width: 768px) {
  .add_review_form {
    padding: 64px 32px;
    width: 704px;
  }

  .title {
    font-size: 32px;
  }
  .actions {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .add_review_form {
    width: 768px;
    margin: 0 auto;
    padding: 64px;
  }

  .title {
    font-size: 48px;
    text-align: center;
  }
}
