.wrapper {
  min-width: 200px;
  max-width: 300px;
  padding: 0;

  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 6px;
  background-color: var(--color-scheme-2-foreground);
  color: var(--color-scheme-2-text);

  & > div {
    margin: 0;
    padding: 0;
  }
}

.wrapper--info {
}

.wrapper--error {
  background-color: var(--color-red);
  color: var(--color-neutral-lightest);
  & .close-btn {
    color: var(--color-neutral-lightest);
    &:hover,
    &:focus,
    &:active {
      --border: currentColor;
    }
  }
}

.toast {
  display: flex;
  flex-flow: row nowrap;
  padding: 8px;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.toast--no-icon {
  padding-left: 16px;
}

.message {
  margin: 0;
  padding: 0;
}

.close-btn {
  flex: 0;
}
