@import "modern-normalize";

:root {
  --background: #fff2ec; /* Backgroud color for the sections*/
  --foreground: #ffe5d9; /* Used for card, inputs and such things backgrounds`*/

  --text-primary: #1b391b; /* Mostly used text color*/
  --text-secondary: #fff; /* Used for some text and buttons*/
  --text-third: #4c2613; /* Used for some sections*/
  --text-links: #000; /* Used for links*/
  --text-input-secondary: #4c4c4c; /* Used for some inputs */

  --button-primary: #cc6534; /* First background color for buttons (also used for somo hover and active states and borders)*/
  --button-secondary: rgba(0, 0, 0, 0.05);
  /*Second background color for buttons*/

  --button-secondary-hover: #ffe5d9; /* Second hover background color for buttons*/
  --button-secondary-active: #254c24; /* Second active background color for buttons*/

  --border-primary: 1px solid rgba(0, 0, 0, 0.15); /* Used for the most buttons, links and other dynamic things */
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: var(--font-montserrat);
  color: var(--text-primary);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

svg {
  display: block;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}

/* For h1 and some page headdings*/
.main-headding {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

/* For section headdings*/
.secondary-headding {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .main-headding {
    font-size: 48px;
  }
  .secondary-headding {
    font-size: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
  .main-headding {
    font-size: 56px;
  }
  .secondary-headding {
    font-size: 52px;
  }
}
