.footer {
  padding: 48px 0;
  background-color: #ffe5d9;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: var(--text-third);
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.01em;
}

.logoIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-third);
}

.socialIcon {
  width: 32px;
  height: 32px;
  display: block;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 16px;
}

.copyright {
  margin-top: 32px;
  padding-top: 32px;
  text-align: center;
  color: var(--text-third);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.copyrightText {
  max-width: 239px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 48px 0;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr auto;
    /* grid-template-rows: 40px 40px; */
    row-gap: 24px;
    align-items: center;
  }

  .socialLinks {
    justify-self: end;
  }

  .content nav {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .copyright {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }

  .content {
    grid-template-columns: 400px 1fr 400px;
    row-gap: 0;
  }

  .socialLinks {
    justify-self: center;
  }

  .content nav {
    grid-column: auto;
    justify-self: end;
  }

  .copyright {
    margin-top: 32px;
  }
}
