.container {
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 48px;
    padding-bottom: 72px;
  }
  .title {
    font-size: 56px;
  }
}
