.add_review_block {
  border-radius: 24px;
  padding: 64px 20px;
  width: 334px;
  max-width: 768px;
  background: #fff2ec;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .add_review_block {
    padding: 64px 32px;
    width: 704px;
  }

  .title {
    font-size: 32px;
  }
}

@media (min-width: 1440px) {
  .add_review_block {
    width: 768px;
    margin: 0 auto;
    padding: 64px;
  }

  .title {
    font-size: 48px;
    text-align: center;
  }
}
