.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.isResetBtn {
  padding-bottom: 30px;
}

.field {
  height: 40px;
}

.categoriesWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.typesSelect {
  width: 160px;
}

.regionsSelect {
  width: 160px;
}

@media screen and (max-width: 767px) {
  .resetBtn {
    position: absolute;
    width: 100%;
    max-width: 335px;
    bottom: -32px;
    padding: 6px 6px;
    right: 0;
  }
}

@media screen and (min-width: 768) and (max-width: 1439px) {
  .resetBtn {
    transform: translateY(3px);
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .categoriesWrapper {
    width: fit-content;
    margin-right: auto;
  }
  .sortSelect {
    width: 158px;
  }
  .input {
    width: 704px;
  }
  .resetBtn {
    width: 160px;
    font-size: 16px;
    padding: 6px 8px;
  }
}

@media screen and (min-width: 1440px) {
  .field {
    height: 43px;
  }
  .typesSelect {
    width: 199px;
    & > div {
      height: 43px;
    }
  }
  .regionsSelect {
    width: 199px;
    & > div {
      height: 43px;
    }
  }
  .sortSelect {
    width: 160px;
    & > div {
      height: 43px;
    }
  }
  .input {
    width: 310px;
    & > input {
      height: 43px;
    }
  }
  .resetBtn {
    font-size: 18px;
    width: 180px;
  }
}
